body {
  background-color: rgb(170, 170, 180);
  padding-top: 0px !important;
  margin-top: 0 !important;
}
section {
  background-color: rgb(170, 170, 180);
  min-height: 40vh;
  padding: 2em;
}
main > :nth-child(odd) {
  background-color: rgb(150, 130, 100);
  color: white;
}

article,
.white-box {
  padding: 12px;
  border-radius: 10px;
  background-color: white;
  color: black;
}

footer {
  background-color: rgb(150, 130, 100);
  min-height: 30vh;
}
#categories a:hover {
  transform: scale(1.05);
  transition: 20ms;
}

#items {
  position: relative;
  overflow: hidden;
}

#birdsvg {
  position: absolute;
  scale: 2;
  object-fit: cover;
  /* filter: blur(0.3); */
  top: 30%;
  left: 10%;
}

@media (max-width: 768px) {
  #items .card {
    min-width: 80% !important;
    margin-top: 2rem;
  }
}
@media (min-width: 768px) {
  #items .card {
    width: 30%;
  }
}

.glass-card {
  width: 240px;
  height: 360px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(19px);
  -webkit-backdrop-filter: blur(19px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 20px 10px rgba(255, 255, 255, 1);
  position: relative;
  overflow: hidden;
}

.glass-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.glass-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}

.homeButtom {
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  transition: 0.2s ease;
}
.homeButtom:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
